<div class="card">
  <div class="card-header">
    {{!-- <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4> --}}
    <p>Posted by {{user.id}} in {{location}}</p>
  </div>
  <p class="card-body">{{message}}</p>
</div>