<div class="card">
  <div class="card-header">
    {{!-- <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4> --}}
    <p>Posted by {{id}} in {{location}}</p>
  </div>
  <p class="card-body">{{message}}</p>
  <div id="replyForm">
    <input type="text" class="replyInput"/>
    <button type="submit" data-comment-id={{id}} onclick="postReply(this);">send</button>
  </div>
</div>
