<div class="card">
  <div class="card-header">
    <p>Posted by {{username}} in {{location}}</p>
  </div>
  <p class="card-body">{{message}}</p>
  <div class="replyForm">
    <input type="text" class="replyInput" />
    <button
      type="submit"
      data-comment-id={{id}}
      onclick="postReply(this);"
    >send</button>
  </div>
  {{#each replies as |reply|}}
    <div>
      <p>{{reply.reply_comment}}</p>
    </div>
  {{/each}}
</div>